:root {
    // Text color
    --primary-title-color: #000000;
    --secondary-title-color: #FF6B08;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --third-text-color: #6723AE;
    --accent-color: #FF6B08;

    // Background color
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #5C135A;
    --third-bg-color: #A08DB5;
    --btn-bg-color: #FF6B08;

    // Fonts
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --third-font: 'Noto Sans', sans-serif;

//Taming Function
--taming-function: 250ms;
}