<!------------------ABOUT---------------->
<section class="about">
    <div class="container">
        <h2 class="about__title">
            Онлайн конференция для:
        </h2>
        <ul class="about__list">
            <li class="about__item">Творческих людей</li>
            <li class="about__item">Уже дизайнеры</li>
            <li class="about__item">Для тех кто хочет новую специальность</li>
            <li class="about__item">Для тех кто хочет высокого уровня дохода</li>
        </ul>
        <p class="about__text about__text--accent-color">
            Удобные, функциональные и красивые интерфейсы состоят не из пикселей, кнопок или экранов.
            За ними цифры, аналитика, расчеты, споры и, наконец, смелые решения.
        </p>
        <p class="about__text">
            19 март в режиме онлайн дизайнеры расскажут о своих нестандартных подходах к решению продуктовых
            вопросов и о самом главном инструменте дизайнера —мышлении.
        </p>
        <img srcset="./images/desktop/about-img-564.jpg 1x, ./images/desktop/about-img-1128.jpg 2x"
            src="./images/desktop/about-img-564.jpg" alt="Абстракция. Девушка рисует на стене кистью."
            width="564" height="508">
    </div>
</section>