<!------------------ABOUT---------------->
<section class="about">
	<div class="container container-about">
		<div class="about__text-wrapper">
			<h2 class="about__title">
				Online conference for:
			</h2>
			<ul class="about__list">
				<li class="about__item">Creative people</li>
				<li class="about__item">Already designers</li>
				<li class="about__item">For those who want a new <span class="about__item--padding">speciality</span> </li>
				<li class="about__item">For those who want high <span class="about__item--padding">income level</span></li>
			</ul>
			<p class="about__text about__text--accent-color">
			Convenient, functional and beautiful interfaces do not consist of pixels, buttons or screens.
			Behind them are numbers, analytics, calculations, disputes and, finally, bold decisions.
			</p>
			<p class="about__text">
			On March 19, designers will talk online about their non-standard approaches to solving product problems.
			questions and about the most important tool of the designer - thinking.
			</p>
		</div>

		<img class="about__picture" srcset="./images/desktop/about-img-564.jpg 1x, ./images/desktop/about-img-1128.jpg 2x"
			src="./images/desktop/about-img-564.jpg" alt="Abstraction. The girl paints on the wall with a brush." width="564"
			height="508">
	</div>
</section>