<header class="header">
    <div class="container header__container">
        <a href="/"><svg class="header__logo">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">Кто мы</li>
                <li class="navigation__item">Расписание</li>
                <li class="navigation__item">Как это было</li>
                <li class="navigation__item">Почему мы</li>
                <li class="navigation__item">Контакты</li>
            </ul>
        </nav>

        <button class="header__button" type="button">
            <svg class="header__menu">
                <use href="./images/icons.svg#icon-menu"></use>
            </svg>
        </button>

    </div>
</header>