<!-------------------HERO------------------>

<section class="hero">
    <div class="container hero__container">
        <p class="hero__date">
            19.03.22
        </p>
        <h1 class="hero__title" lang="en">Design <br class="br"> MeetUP</h1>
        <button class="hero__btn" type="button">Зарегестрироваться</button>
        <button class="hero__play-btn" type="button">
            <svg class="hero__svg-btn">
                <use href="./images/icons.svg#icon-play"></use>
            </svg>
        </button>
    </div>
    
</section>