<!-----------------SPEAKERS---------------->
<section class="speakers">
	<div class="container">
		<h2 class="container__title">Спикеры</h2>
		<ul class="speakers-list">
			<li class="speakers__item">
				<p class="speakers__date">10:00-12:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin">
							<use href="./images/icons.svg#icon-linkedin"></use>
					</svg>
					</a>
					<img class="speakers-card__photo"
						srcset="./images/mobile/speakers-img-1-239.jpg 1x, ./images/mobile/speakers-img-1-478.jpg 2x"
						src="./images/desktop/about-img-564.jpg" alt="Портретное фото Юрия Опаренко" width="239" height="221">
					<h3 class="speakers-card__name">Юра Опаренко</h3>
					<p class="speakere-card__text">Продуктовый дизайнер в лондонском офисе <span lang="en">Facebook</span>.
					</p>
				</div>
			</li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
		</ul>

	</div>
</section>