<!-----------------SPEAKERS---------------->
<section class="speakers">
	<div class="container">
		<h2 class="container__title">Спикеры</h2>
		<ul class="speakers-list">
			<li class="speakers__item">
				<p class="speakers__date">10:00-12:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin">
							<use href="./images/icons.svg#icon-linkedIn"></use>
					</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-1-239.jpg 1x, 
								./images/mobile/speakers-img-1-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-1-300.jpg 1x, 
								./images/desktop/speakers-img-1-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-1-300.jpg"
							alt="Портретное фото Юрия Опаренко" />
					</picture>
		
					<h3 class="speakers-card__name">Юра Опаренко</h3>
					<p class="speakers-card__text">Продуктовый дизайнер в лондонском офисе <span lang="en">Facebook</span>.
					</p>
						<button type="button" class="speakers-card__btn">
							<svg class="speakers-card__left-arrow">
								<use href="./images/icons.svg#icon-left-arrow"></use>
							</svg>
						</button>
				</div>
			
			</li>
			<li class="speakers__item">
					<p class="speakers__date">12:30-14:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin">
							<use href="./images/icons.svg#icon-linkedIn"></use>
					</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-2-239.jpg 1x, 
								./images/mobile/speakers-img-2-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-2-300.jpg 1x, 
								./images/desktop/speakers-img-2-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-2-300.jpg"
							alt="Портретное фото Pawel Wodkovski" />
					</picture>
					
					<h3 class="speakers-card__name">Pawel Wodkovski</h3>
					<p class="speakers-card__text">Senior UX Designer at Atlassian Jira Team</span>.
					</p>
						<button type="button" class="speakers-card__btn">
							<svg class="speakers-card__left-arrow">
								<use href="./images/icons.svg#icon-left-arrow"></use>
							</svg>
						</button>
				</div>
			</li>
			<li class="speakers__item">
				<p class="speakers__date">14:30-16:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin speakers-card__linkedin--black">
							<use href="./images/icons.svg#icon-linkedIn"></use>
						</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-3-239.jpg 1x, 
								./images/mobile/speakers-img-3-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-3-300.jpg 1x, 
								./images/desktop/speakers-img-3-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-3-300.jpg"
							alt="Портретное фото Альбина Чолак" />
					</picture>

					<h3 class="speakers-card__name">Альбина Чолак</h3>
					<p class="speakers-card__text">Lead Product Designer в Octopus Investments
</span>
					</p>
					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
			</li>
			<li class="speakers__item">
				<p class="speakers__date">16:30-18:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin speakers-card__linkedin--black">
							<use href="./images/icons.svg#icon-linkedIn"></use>
						</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-4-239.jpg 1x, 
								./images/mobile/speakers-img-4-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-4-300.jpg 1x, 
								./images/desktop/speakers-img-4-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-4-300.jpg"
							alt="Портретное фото Tim Dekker" />
					</picture>

					<h3 class="speakers-card__name">Tim Dekker</h3>
					<p class="speakers-card__text">Отвечает за стратегию
					и UX направления Kiwi.com.
</span>
					</p>
					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
			</li>
			<li class="speakers__item">
				<p class="speakers__date">18:30-19:30</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin">
							<use href="./images/icons.svg#icon-linkedIn"></use>
						</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-5-239.jpg 1x, 
								./images/mobile/speakers-img-5-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-5-300.jpg 1x, 
								./images/desktop/speakers-img-5-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-5-300.jpg"
							alt="Портретное фото Михаил Рыбачук" />
					</picture>

					<h3 class="speakers-card__name">Михаил Рыбачук</h3>
					<p class="speakers-card__text">Projector</span>
					</p>
					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
			</li>
			<li class="speakers__item">
				<p class="speakers__date">20:00-21:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<a target="_blank" href="https://ua.linkedin.com/">
						<svg class="speakers-card__linkedin">
							<use href="./images/icons.svg#icon-linkedIn"></use>
						</svg>
					</a>
					<picture>
						<source srcset="
								./images/mobile/speakers-img-6-239.jpg 1x, 
								./images/mobile/speakers-img-6-478.jpg 2x" 
								media="(max-width: 1023px)" />
						<source srcset="
								./images/desktop/speakers-img-6-300.jpg 1x, 
								./images/desktop/speakers-img-6-600.jpg 2x" 
								media="(min-width: 1024px)" />
		
						<img class="speakers-card__photo" src="./images/desktop/speakers-img-6-300.jpg"
							alt="Портретное фото Сергей Майдуков" />
					</picture>

					<h3 class="speakers-card__name">Сергей Майдуков</h3>
					<p class="speakers-card__text">Workshop</span>
					</p>
					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
			</li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
			<li class="speakers__item"></li>
		</ul>

	</div>
</section>