<!-----------------SPEAKERS---------------->
<section class="speakers">
	<div class="container container-speakers">
		<h2 class="container__title">Speakers</h2>
		<ul class="speakers-list">

			<li class="speakers__item">
				<p class="speakers__date">10:00-12:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
											./images/mobile/speakers-img-1-239.jpg 1x, 
											./images/mobile/speakers-img-1-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
											./images/desktop/speakers-img-1-300.jpg 1x, 
											./images/desktop/speakers-img-1-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-1-300.jpg"
								alt="Portrait photo of Yuri Oparenko" />
						</picture>
					</div>

					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Yura Oparenko</h3>
						<p class="speakers-card__text">Product designer at Facebook's London <br>office</p>
						<p class="speakers-card__desc">Helps the team generate and implement innovative ideas.
						Responsible for everything
						aspects of product design - product
						thinking, user research, prototyping, testing, interaction design
						and visual
						part. Before
						worked at Intercom London, before that at Qubit and Sennep where he worked as a designer
						digital
						products
						for McKinsey & Company, Emirates, Topshop and Barclays.</p>
					</div>


					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>

			<li class="speakers__item">
				<p class="speakers__date">12:30-14:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
													./images/mobile/speakers-img-2-239.jpg 1x, 
													./images/mobile/speakers-img-2-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
													./images/desktop/speakers-img-2-300.jpg 1x, 
													./images/desktop/speakers-img-2-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-2-300.jpg"
								alt="Portrait photo of Pawel Wodkovski" />
						</picture>
					</div>

					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Pawel Wodkovski</h3>
						<p class="speakers-card__text">Senior UX Designer at Atlassian Jira Team
						</p>
						<p class="speakers-card__desc">Pavel combines the skills of a visual designer, an experienced
						web developer and UX specialist. Now as a Senior UX Designer, he is responsible for the development
						Jira Server, including UI redesign, accessibility and GDPR compliance improvements,
						involved in the design process from research and idea generation
						before implementation.In design for over 18 years.
						</p>
					</div>

					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>

			<li class="speakers__item">
				<p class="speakers__date">14:30-16:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin speakers-card__linkedin--black">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
													./images/mobile/speakers-img-3-239.jpg 1x, 
													./images/mobile/speakers-img-3-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
													./images/desktop/speakers-img-3-300.jpg 1x, 
													./images/desktop/speakers-img-3-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-3-300.jpg"
								alt="Portrait photo of Albina Colak" />
						</picture>
					</div>

					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Albina Colak</h3>
						<p class="speakers-card__text">Lead Product Designer at Octopus Investments</p>
						<p class="speakers-card__desc">Albina is responsible for all stages of the design process - from
						stage of research and direct study of experience
						user to the implementation of product solutions,
						down to the UI elements.
						</p>
					</div>

					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>

			<li class="speakers__item">
				<p class="speakers__date">16:30-18:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin speakers-card__linkedin--black">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
								./images/mobile/speakers-img-4-239.jpg 1x, 
								./images/mobile/speakers-img-4-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
								./images/desktop/speakers-img-4-300.jpg 1x, 
								./images/desktop/speakers-img-4-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-4-300.jpg"
								alt="Portrait photo of Tim Dekker" />
						</picture>
					</div>

					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Tim Dekker</h3>
						<p class="speakers-card__text">Responsible for strategy
						and UX directions of Kiwi.com.

						</p>
						<p class="speakers-card__desc">Tim advocates a collaborative approach in
						design — conducts workshops for stakeholders and
						involves them at all stages of the design process.
						Prior to Kiwi, he worked as a UX designer and Scrum master.
						in Amsterdam, where he launched digital transformation
						in global organizations and developed MVP
						for small startups.

						</p>
					</div>

					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>

			<li class="speakers__item">
				<p class="speakers__date">18:30-19:30</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
								./images/mobile/speakers-img-5-239.jpg 1x, 
								./images/mobile/speakers-img-5-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
								./images/desktop/speakers-img-5-300.jpg 1x, 
								./images/desktop/speakers-img-5-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-5-300.jpg"
								alt="Portrait photo Mikhail Rybachuk" />
						</picture>
					</div>

					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Mikhail Rybachuk</h3>
						<p class="speakers-card__text">Projector
						</p>
						<p class="speakers-card__desc">Conference moderator - product designer,
						co-founder of Projector and Projector Prague.

						</p>
					</div>

					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>

			<li class="speakers__item">
				<p class="speakers__date">20:00-21:00</p>
				<img src="./images/mobile/left-line.png" alt="" width="24" height="388">
				<div class="speakers-card">
					<div class="speakers-card__picture-wrap">
						<a target="_blank" href="https://ua.linkedin.com/">
							<svg class="speakers-card__linkedin">
								<use href="./images/icons.svg#icon-linkedIn"></use>
							</svg>
						</a>
						<picture>
							<source srcset="
															./images/mobile/speakers-img-6-239.jpg 1x, 
															./images/mobile/speakers-img-6-478.jpg 2x" media="(max-width: 1023px)" />
							<source srcset="
															./images/desktop/speakers-img-6-300.jpg 1x, 
															./images/desktop/speakers-img-6-600.jpg 2x" media="(min-width: 1024px)" />

							<img class="speakers-card__photo" src="./images/desktop/speakers-img-6-300.jpg"
								alt="Portrait photo Sergei Maidukov" />
						</picture>
					</div>
					<div class="speakers-card__data">
						<h3 class="speakers-card__name">Sergei Maidukov</h3>
						<p class="speakers-card__text">Creating the cover of the virtual magazine “The Frankiver”
						</p>
						<p class="speakers-card__desc speakers-card__desc--bolt">You will need: Figma, AI

						</p>
					</div>


					<button type="button" class="speakers-card__btn">
						<svg class="speakers-card__left-arrow">
							<use href="./images/icons.svg#icon-left-arrow"></use>
						</svg>
					</button>
				</div>
				<img class="speakers__right-line" src="./images/mobile/right-line.png" alt="" width="24" height="388">
			</li>
		</ul>

	</div>
</section>