.speakers {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 44px;

	@media screen and (min-width: 1024px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@media screen and (min-width:1440px) {
		padding-top: 110px;
		padding-bottom: 110px;
	}
}

// .container-speakers {
// 	display: flex;

// }

.container__title {
	margin-bottom: 24px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 38px;
	line-height: 42px / 38px;
	text-align: center;

	color: var(--primary-title-color);

	@media screen and (min-width: 1024px) {
		margin-bottom: 64px;
		font-size: 48px;
		line-height: 53px / 48px;
	}

	@media screen and (min-width: 1366px) {
		margin-bottom: 76px;

	}
}

.speakers-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.speakers__item {
	position: relative;
	display: flex;

	@media screen and (min-width: 1024px) {
		flex-direction: row;

	}

}

.speakers__date {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 24px / 19px;
	color: var(--secondary-text-color);
	text-align: center;

	writing-mode: vertical-lr;
	transform: rotate(180deg);

		@media screen and (min-width: 1024px) {
				font-size: 24px;
				line-height: 24px / 24px;
		
			}
}

.speakers-card {
	position: relative;

	max-width: 239px;
	height: 363px;
	padding-top: 18px;

	@media screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		max-width: none;
		height: 363px;

	}
}

.speakers-card__picture-wrap {
	display: flex;
}

.speakers-card__linkedin {
	position: absolute;
	top: 32px;
	right: 14px;
	width: 24px;
	height: 24px;
	fill: var(--primary-text-color);
	transition: fill var(--taming-function) cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}

	@media screen and (min-width: 1024px) {
		position: static;
		margin-right: 18px;
			width: 35px;
				height: 35px;
				fill: var(--black-bg-color);


	}
}

.speakers-card__linkedin--black {
	fill: var(--black-bg-color);
}

.speakers-card__photo {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
			@media screen and (min-width: 1024px) {
					margin-bottom: 0;
				}
}

// .speakers-card__data {
// 		@media screen and (min-width: 1024px) {
// 	margin-right: 80px;
// 			}

// }

.speakers-card__name {
	margin-bottom: 10px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px / 24px;
	color: var(--secondary-title-color);

	@media screen and (min-width: 1024px) {
font-size: 36px;
	line-height: 53px / 36px;
		}
}

.speakers-card__text {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	line-height: 23px / 17px;
	color: var(--primary-title-color);

		@media screen and (min-width: 1024px) {
			margin-bottom: 24px;
			width: 448px;
				font-size: 24px;
				line-height: 32px / 24px;
			}
}

.speakers-card__desc {
	display: none;

	@media screen and (min-width: 1024px) {
		display: inline-block;
		max-width: 569px;
		font-family: var(--secondary-font);
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px / 18px;
			letter-spacing: 0.05em;
			color: var(--secondary-text-color);
	}
}



.speakers-card__btn {
	position: absolute;
	top: 320px;
	// left: 200px;
	right: 0;

	display: block;
	border: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	background: transparent;
	color: #ffffff;

	cursor: pointer;
	text-align: center;

	width: 40px;
	height: 40px;

	@media screen and (min-width: 1024px) {
		display: none;
	}

}

.speakers-card__left-arrow {
	width: 40px;
	height: 40px;
	fill: var(--accent-color);
}

.speakers__right-line {
	display: none;

	@media screen and (min-width: 1024px) {
		display: block;
	}
}