.speakers {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 44px;
}

.container__title {
	margin-bottom: 24px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 38px;
	line-height: 42px / 38px;
	text-align: center;

	color: var(--primary-title-color);
}

.speakers-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.speakers__item {
	position: relative;
	display: flex;

}

.speakers__date {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 24px / 19px;
	color: var(--secondary-text-color);
	text-align: center;

	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.speakers-card {
	position: relative;
	max-width: 239px;
	height: 363px;
	padding-top: 18px;
}

.speakers-card__linkedin {
	position: absolute;
	top: 32px;
	right: 14px;
	width: 24px;
	height: 24px;
	fill: var(--primary-text-color);
	transition: fill var(--taming-function) cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}
}

.speakers-card__linkedin--black {
	fill: var(--black-bg-color);
}

.speakers-card__photo {
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
}

.speakers-card__name {
margin-bottom: 10px;

	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px / 24px;
	color: var(--secondary-title-color);
}

.speakers-card__text {
	font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px / 18px;
color: var(--primary-title-color);
}

.speakers-card__btn {
	position: absolute;
	top: 320px;
	// left: 200px;
	right: 0;
	
		display: block;
			border: none;
		
			margin: 0;
			text-decoration: none;
			background: transparent;
			color: #ffffff;
		
			cursor: pointer;
			text-align: center;
		
	width: 40px;
	height: 40px;

}

.speakers-card__left-arrow {
	width: 40px;
		height: 40px;
		fill: var(--accent-color);
}